<html>
    <head>
        <title>Live or Die</title>
    </head>
    <body>
        <div>
            <h1><a href="">Live or Die</a></h1>
        </div>

        <div>
            <p>published: 10:02:2017</p>
            <h2><a href="">so it starts</a></h2>
            <p>hmmm 8 years ago when i was in 7th i was simple boy ...no gf...not interested in studies.......havn't fought with anyone......even my hairs are so simple and short...i think u know well in the end of sessions thier are combined classes...our F section combined with C section...a boy of C section said to me this is my seat ,i said i am sitting here go sit some where else ....he starts saying abuse words... then i start but he slapped me and whole school starts starring me like they are saying bhai u are a coward...</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
